*{
	margin:10px;
	padding:1px;
	background-color:#15803c;
}

h1{
	text-align:center;
	font-size:100px;
	color:#000000;
	font-family:arial;
	font-weight:bold;
}

h2{
	text-align:left;
	font-size:30px;
	color:#15803c;
	font-family:arial;
	font-weight:bold;
	line-height:normal;
	font-style:normal;
	background-color:#ffffff;

}

h3{
	text-align:left;
	font-size:20px;
	color:#000000;
	font-family:arial;
	font-weight:bold;
	font-style:normal;
	background-color:#ffffff;
}

h4{
	text-align:left;
	font-size:15px;
	color:#000000;
	font-family:arial;
	font-weight:bold;
	background-color:#ffffff;

}

h5{
	text-align:left;
	font-size:15px;
	color:#ffffff;
	font-family:arial;
	font-weight:normal;
}

p{
	text-align:left;
	font-size:15px;
	color:#000000;
	font-family:arial;
	font-weight:normal;
	font-style:normal;
	background-color:#ffffff;

}

body{
	margin:0px;
	padding:0px;
}

ul
{
	float:right;
	width: 30px;
	border:none;
	padding:10px;
	text-align:right;
	font-family:arial;
	color:#ffffff;
}

.top{
	margin:10px;
	padding:5px;
	background-color:#15803c;
}

.middle{
	margin:0px;
	padding:50px;
	background-color:#ffffff;


}
